<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <script src="../../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="../../signalr/hubs"></script>
</head>
<body>

<button id="generate">Generate</button>
<button id="solve">Solve</button>
<button id="list">List</button>
<button id="addUsr1">Add user1</button>
<button id="addUsr2">Add user2</button>
<button id="get">Get user</button>
<button id="start">Start</button>
<button id="join">Join</button>
<button id="update">Update</button>
<button id="close">Close</button>

<br/><br/>Enter game name:<input type="text" id="gameTxt"/><br/>
<button id="btnConnect">Connect</button><br/>
<h2>Received messages</h2>
<ul id="lstMessages"></ul>
<h2>Send messages</h2>
Enter message: <input type="text" id="msgText"/><br/>
<button id="btnSendMessage">Send</button>

<script>
    $(function() {

        $("#generate").on('click',
            function() {
                $.ajax({
                    type: 'GET',
                    url: '../../api/SinglePlayer',
                    data: {
                        mazeName: "aaa",
                        rows: "10",
                        columns: "10"
                    },
                    dataType: 'json',
                    success: function(response) {
                        alert(response.Maze);
                    },

                    error: function(xhr, textStatus, errorThrown) {
                        alert("Error: connection lost");
                    }
                });
            });
        $("#solve").on('click',
            function() {
                $.ajax({
                    type: 'GET',
                    url: '../../api/SinglePlayer',
                    data: {
                        mazeName: "aaa",
                        algorithmType: "1"
                    },
                    dataType: 'json',
                    success: function(response) {
                        alert(response.Solution);
                    },

                    error: function(xhr, textStatus, errorThrown) {
                        alert("Error: connection lost");
                    }
                });
            });

        $("#addUsr1").on('click',
            function() {
                $.ajax({
                    type: 'POST',
                    url: '../../api/Users',
                    data: {
                        Username: "Jane Doe",
                        Password: "1234",
                        Email: "jane@aaa.com",
                        GamesWon: 0,
                        GamesLost: 0
                    },

                    success: function(response) {
                        alert("user added");
                    },

                    error: function(xhr, textStatus, errorThrown) {
                        if (xhr.status == 400) {
                            alert("Error: username alredy exists.");
                        } else {
                            alert("Error: connection lost.");

                        }
                    }
                });
            });

        $("#addUsr2").on('click',
            function() {
                $.ajax({
                    type: 'POST',
                    url: '../../api/Users',
                    data: {
                        Username: "John Doe",
                        Password: "4444",
                        Email: "john@aaa.com",
                        GamesWon: 0,
                        GamesLost: 0
                    },

                    success: function(response) {
                        alert("user added");
                    },

                    error: function(xhr, textStatus, errorThrown) {
                        alert("Error: connection lost");
                    }
                });
            });

        $("#get").on('click',
            function() {
                $.ajax({
                    type: 'GET',
                    url: '../../api/Users',
                    data: {
                        Username: "Jane Doe",
                        Password: "1234"
                    },

                    success: function(response) {
                        alert(response.Username);
                    },

                    error: function (xhr, textStatus, errorThrown) {

                        alert(xhr.status);
//                        if (xhr.status == 400) {
//                            alert("Error: username alredy exists.");
//                        } else {
//                            alert("Error: connection lost");
//
//                        }
                    }
                });
            });

        $("#update").on('click',
            function () {
                $.ajax({
                    type: 'PUT',
                    url: '../../api/Users',
                    data: {
                        Username: "John Doe",
                        Password: "4444",
                        Email: "newmail@aaa.com",
                        GamesWon: 0,
                        GamesLost: 0
                    },

                    success: function (response) {
                        alert(response.Username);
                    },

                    error: function (xhr, textStatus, errorThrown) {

                        alert(xhr.status);
                        //                        if (xhr.status == 400) {
                        //                            alert("Error: username alredy exists.");
                        //                        } else {
                        //                            alert("Error: connection lost");
                        //
                        //                        }
                    }
                });
            });

//        $("#start").on('click',
//            function() {
//                $.ajax({
//                    type: 'GET',
//                    url: '../../api/MultiPlayer',
//                    data: {
//                        mazeName: "ddd",
//                        rows: "10",
//                        columns: "10",
//                        username: "john"
//                    },
//
//                    success: function(response) {
//                        alert(response.Maze);
//                    },
//
//                    error: function(xhr, textStatus, errorThrown) {
//                        alert("Error: connection lost");
//                    }
//                });
//            });

//        $("#join").on('click',
//            function() {
//                $.ajax({
//                    type: 'GET',
//                    url: '../../api/MultiPlayer',
//                    data: {
//                        mazeName: "ddd",
//                        username: "jane"
//                    },
//
//                    success: function(response) {
//                        alert(response.Maze);
//                    },
//
//                    error: function(xhr, textStatus, errorThrown) {
//                        alert("Error: connection lost");
//                    }
//                });
//            });

//        $("#list").on('click',
//            function() {
//                $.ajax({
//                    type: 'GET',
//                    url: '../../api/MultiPlayer',
//
//                    success: function(response) {
//                        var obj = JSON.parse(response);
//                        alert(obj[0].text);
//                    },
//
//                    error: function(xhr, textStatus, errorThrown) {
//                        alert("Error: connection lost");
//                    }
//                });
        //            });

        /////////////////////////////////////////////////////////////////////
        //Commands hub

        //Get commandsHub.
        var commandsHub = $.connection.commandsHub;

        //Handle received command from hub.
        commandsHub.client.gotCommand = function(command) {
            $("#lstMessages").append("<li><strong>" + command + "</li>");
        };

        commandsHub.client.gotMaze = function(jsonMaze) {
            $("#lstMessages").append("<li><strong>" + jsonMaze.Maze + "</li>");
        }

        commandsHub.client.gotListOfGames = function(gamesListInJsonFormat) {
            var list = JSON.parse(gamesListInJsonFormat);
            $("#lstMessages").append("<li><strong>" + list[0] + "</li>");
        }
        //End of client methods

        //Server requests funtions
        $.connection.hub.start().done(function() {

            //Add new connection.
            $("#btnConnect").click(function() {
                var gameName = $("#gameTxt").val();
                commandsHub.server.connect(gameName);
            });

            //Send command to opponent.
            $("#btnSendMessage").click(function() {
                var text = $("#msgText").val();
                var gameName = $("#gameTxt").val();
                commandsHub.server.sendCommand(gameName, text);
            });

            $("#start").click(function() {
                var gameName = $("#gameTxt").val();
                commandsHub.server.startGame(gameName, "10", "10");
            });

            $("#join").click(function() {
                var gameName = $("#gameTxt").val();
                commandsHub.server.joinGame(gameName);
            });

            $("#list").click(function() {
                commandsHub.server.getListOfGames();
            });

            $("#close").click(function() {
                commandsHub.server.close();
            });
        });


    });

</script>
</body>
</html>