<!DOCTYPE html>
<html>
<head>
    <title>The Maze</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <link href="../Css/Style.css" rel="stylesheet" />
    <script src="../Scripts/HomePage.js"></script>
    <script src="../Scripts/Navbar.js"></script>
</head>

<body>
<div id="homePageNav"></div>

<div class="container-fluid">
    <div class="well" style="text-align: center">
        <img src="../Resources/mazeLogo.png" style="width: 500px; height: 200px;" />
        <br />
        <br />
        <p id="paragraph">
          Play as a single player or <a href="Login.html">login</a> to play as a multiplayer.
        </p>
    </div>
    <blockquote>
        <p style="font-family: fantasy">"The best game ever!"</p>
        <footer>Everyone</footer>
    </blockquote>

</div>
</body>

</html>
