<!DOCTYPE html>
<html>
<head>
    <title>The Maze</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css" />
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css" />
</head>

<body>
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">THE MAZE</a>
            </div>
            <!--Menu items-->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <!--Dropdown menu-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Single player</a>
                            </li>
                            <li>
                                <a href="MultiplayerMenu.html">Multiplayer</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="UserRankingsPage.html">User Rankings</a>
                    </li>
                </ul>
                <!--Right align-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="RegisterPage.html">Register</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="well" style="text-align: center">
            <img src="../Resources/mazeLogo.png" style="width: 500px; height: 200px;" />
            <p>
                <br />
                <br />
                Play as a single player or <a href="#">login</a> to play as a multiplayer.
            </p>
        </div>
        <blockquote>
            <p style="font-family: fantasy">"The best game ever!"</p>
            <footer>Everyone</footer>
        </blockquote>

    </div>

</body>
</html>
