<!DOCTYPE html>
<html>
<head>
    <title>Log in page</title>
    <meta charset="utf-8" />
    <style>
        .button {
            background-color: dodgerblue;
            color: black;
            border-radius: 10px;
            height: 30px;
            width: 130px;
        }

        .textbox {
            border-radius: 10px;
            padding: 10px 10px;
        }

        #login {
            margin: 0 auto;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <script src="../Scripts/Login.js"></script>
</head>
<body>
    <div id="login">
        <h1>Login</h1>
        <h2>Use a local account to log in.</h2>
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input type="text" id="username" class="textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" id="password" class="textbox" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="loginButton"class="button" >Login</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="RegisterPage.html">Register as new user</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
