<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <link href="../Css/Style.css" rel="stylesheet"/>
    <script src="../Scripts/Login.js"></script>
    <script src="../Scripts/Navbar.js"></script>
</head>
<body>
<div id="loginNav">

</div>
<div style="padding-top: 50px">
    <div class="container block">
        <fieldset>
            <legend style="font-weight: bold">Login</legend>
        </fieldset>
        <!--Start-->
        <label>Username</label>
        <input type="text" id="username" name="username" placeholder="Enter username">
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password">
        <button id="loginButton"class="submitButton">Login</button>
        <br/>
        <br/>
        <a href="RegisterPage.html">Register as a new user</a>
        <br/><br/>
        <div class="alert alert-danger" id="loginError"></div>
    </div>

</div>

</body>
</html>