<!DOCTYPE html>
<html>
<head>
    <title>Multiplayer menu</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <link href="../Css/Style.css" rel="stylesheet"/>
    <script src="../Scripts/MultiplayerGame.js"></script>
    <script src="../Scripts/Navbar.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="../../signalr/hubs"></script>
</head>
<body>
<a id="test"></a>
<div id="multiNav"></div>
<table>
    <tr>
        <td class="tableMazeColumn">
            <div>
                <div class="container block">
                    <fieldset>
                        <legend style="font-weight: bold">Join a game</legend>
                    </fieldset>
                    <!--Join-->
                    <select name="games" id="gamesList">

                    </select>
                    <button id="joinButton" class="submitButton">Join</button>
                    <br/>
                  <!--Start-->
                    <fieldset>
                        <legend style="font-weight: bold">Start a new game</legend>
                    </fieldset>
                    <div class="alert alert-danger" id="multiError"></div>
                    <label>Name</label>
                    <input type="text" id="gameName" name="gameName" placeholder="Game name">
                    <label>Rows</label>
                    <input type="number" id="rows" name="rows" placeholder="Number of rows">
                    <label>Columns</label>
                    <input type="number" id="columns" name="columns" placeholder="Number of columns">
                    <button id="startButton" class="submitButton">Start</button>
                </div>
            </div>
        </td>
        <td class="tableMazeColumn">
            <div>
                <div class="alert alert-success" id="myWinMessage">
                   </div>
                <div class="alert alert-danger" id="myLoseMessage">
                   
                </div>
                <label id="myLabel" style="color: darkgreen">My board</label>
                <br/>
                <canvas id="myCanvas" width="300" height="300" style="border: 2px black solid"></canvas>
            </div>
          
        </td>
        <td class="tableMazeColumn">
            <div>
                <div class="alert alert-success" id="opponentWinMessage">
                </div>
                <div class="alert alert-danger" id="opponentLoseMessage">
                   
                </div>
                <label id="opponentLabel" style="color: crimson">Opponent board</label>
                <br/>
                <canvas id="opponentCanvas" width="300" height="300" style="border: 2px black solid"></canvas>
            </div>
          
        </td>
    </tr>
</table>

<div class="spinner" id="loader"></div>
<img height="0" width="0" id="playerLogo" src="../Images/player.png" alt="playerLogo" />
<img height="0" width="0" id="endLogo" src="../Images/exit.png" alt="endLogo" />
</body>
</html>