<nav id="nav" class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <!--Logo-->
        <div class="navbar-header">
            <a href="#" class="navbar-brand">THE MAZE</a>
        </div>
        <!--Menu items-->
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="HomePage.html">Home</a>
                </li>
                <!--Dropdown menu-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="SinglePlayerGame.html">Single player</a>
                        </li>
                        <li>
                            <a href="MultiplayerMenu.html">Multiplayer</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="Settings.html">Settings</a>
                </li>
                <li>
                    <a href="UserRankingsPage.html">User Rankings</a>
                </li>
            </ul>
            <!--Right align-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="RegisterPage.html" id="register">Register</a>
                </li>
                <li>
                    <a href="Login.html" id="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>