<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css" />
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link href="../Css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css" />
    <script src="../Scripts/RegisterUser.js"></script>
</head>
<body>
    <div id="registerNav">

    </div>
    <div style="padding-top: 30px">
        <div class="container block">
            <fieldset>
                <legend style="font-weight: bold">Register</legend>
            </fieldset>

            <label>Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username">

            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password">

            <label>Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">

            <label>Email</label>
            <input type="email" id="email" name="email" placeholder="Enter email">
            <button id="submitButton" class="submitButton">Submit</button>
            <div class="alert alert-danger" id="registerError"></div>
        </div>
    </div>


</body>
</html>