<!DOCTYPE html>
<html>
<head>
    <title>Single Game</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <link href="../Css/Style.css" rel="stylesheet"/>
    <script src="../Scripts/Navbar.js"></script>
    <script src="../Scripts/SinglePlayerGame.js"></script>
</head>
<body>
<div id="singleNav"></div>
    
<table>
    <tr>
        <td class="tableMazeColumn">
            <div>
                <div class="container block">
                    <fieldset>
                        <legend style="font-weight: bold">Single Game</legend>
                    </fieldset>
                    <label>Maze name</label>
                    <input type="text" id="mazeName" name="mazeName" placeholder="Enter maze name">
                    <label>Rows</label>
                    <input type="number" id="mazeRows" name="mazeRows" placeholder="Enter rows">
                    <label>Columns</label>
                    <input type="number" id="mazeCols" name="mazeCols" placeholder="Enter columns">
                    <button id="btnStartNewGame" class="submitButton">Start Game</button>
                    <br/>
                    <div class="alert alert-danger" id="singleError"></div>
                    <select name="algorithms" id="selectedAlgo">
                        
                    </select>
                    <br/>
                    <button id="solveMaze" class="submitButton">Solve Maze</button>
                </div>

            </div>
        </td>
        <td class="tableMazeColumn">
            <!-- Second column -->
            <canvas id="mazeCanvas" width="400" height="400" style="border: 2px black solid" onkeypress="movePlayer(event)"></canvas>
        </td>
    </tr>
</table>
    
   
<!-- <h1>Single Game</h1>-->
<!-- <table>-->
<!-- <tr>-->
<!-- <td>-->
<!-- <table id="singlePlayerTable">-->
<!-- <tr>-->
<!-- <td>
    <b>Name:</b>
</td>-->
<!-- <td>
    <input type="text" class="singlePlayerInput" id="mazeName" name="name">
</td>-->
<!-- </tr>-->
<!-- <tr>-->
<!-- <td>
    <b>Rows:</b>
</td>-->
<!-- <td>
    <input type="text" class="singlePlayerInput" id="mazeRows" name="rows">
</td>-->
<!-- </tr>-->
<!-- <tr>-->
<!-- <td>
    <b>Cols:</b>
</td>-->
<!-- <td>
    <input type="text" class="singlePlayerInput" id="mazeCols" name="cols">
</td>-->
<!-- </tr>-->
<!-- <tr>-->
<!-- <td></td>-->
<!-- <td>
    <input type="submit" id="btnStartNewGame" class="button" value="Start new game"/>
</td>-->
<!-- </tr>-->
<!-- <tr>-->
<!-- <td>
    <b>Search Algo</b>
</td>-->
<!-- <td>-->
<!-- <select name="algorithms" class="singlePlayerInput" id="selectedAlgo">-->
<!-- <option value="1">Dfs</option>-->
<!-- <option value="2">Bfs</option>-->
<!-- </select>-->
<!-- </td>-->
<!-- </tr>-->
<!-- <tr>-->
<!-- <td></td>-->
<!-- <td>
    <input type="submit" class="button" id="solveMaze" value="Solve Game">
</td>-->
<!-- </tr>-->
<!-- </table>-->
<!-- </td>-->
<!-- <td>-->
<!-- <canvas id="mazeCanvas" width="300" height="300" style="border:2px black-->
<!-- solid" onkeypress="movePlayer(event)"></canvas>-->
<!-- </td>-->
<!-- </tr>-->
<!-- </table>-->
<img height="0" width="0" id="playerLogo" src="../Images/player.png" alt="playerLogo"/>
<img height="0" width="0" id="endLogo" src="../Images/exit.png" alt="endLogo" />
</body>
</html>