<!DOCTYPE html>
<html>
<head>
    <title>User rankings</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap.min.css"/>
    <script src="../../Bootstrap/Scripts/jquery-1.9.1.js"></script>
    <script src="../../Bootstrap/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Bootstrap/Content/bootstrap-theme.min.css"/>
    <script src="../Scripts/UserRankings.js"></script>
</head>
<body>
<div id="rankingsNav"></div>
<div class="container">
    <table class="table table-striped" id="rankingsTable">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
        </thead>
        <tbody>
      </tbody>
    </table>
</div>
</body>
</html>